.sidebar{
    width: calc(100% - 20px);
    padding: 0 10px;
    min-height: 200px;
    box-sizing: content-box;
    background: var(--pallete-secondary-color);
    padding-top: 10px;
}
.block{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blocklist{
    list-style: none;
    display: flex;
    flex-direction: column;
}