@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-dark: linear-gradient(18.22deg, #1C1C2F 0%, #21213D 100%);
    --background-panel: linear-gradient(77.24deg, #252845 4.08%, #2F2E58 97.25%);
    --background-input-text: linear-gradient(90deg, #202039 0%, #22223D 58.33%, #202039 100%);
    --background-button: linear-gradient(84.38deg, #925FFF 9.88%, #B85FFF 93.01%);
    --background-button-active: linear-gradient(84.38deg, #8D57FF 10.31%, #E065FF 93.01%);
    --background-button-disabled: linear-gradient(84.38deg, #30343d 10.31%, #5f5b7a 93.01%);
    --background-checkmark: linear-gradient(18.22deg, #1C1C2F 0%, #21213D 100%);
    --background-checkmark-active: linear-gradient(84.38deg, #925FFF 9.88%, #B85FFF 93.01%);

    --outline-panel: 1px solid #4D4D75;
    --outline-inputext: 1px solid #4D4D75;

    --font-size-primary: 14px;
    --font-size-inputtext: 12px;
    --font-size-undercontent: 12px;
    --font-size-panel-title: 20px;
    --font-weight-panel-title: bold;

    --font-color-primary: #EDEAF7;
    --font-color-secondary: #8685C8;
    --font-color-url: #8D65FF;
    --font-color-inputtext-placeholder: #49407E;
    --font-color-error: rgb(238, 77, 71);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--font-color-primary);
    font-size: var(--font-size-primary);
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--font-color-primary);
}

html,
body {
    background: var(--background-dark);
}

.pagecontainer {
    width: 100%;
    min-height: 100vh;
}