.authlayout {
    width: 100%;
    height: 100vh;
}

.backgroundimage {
    width: 100%;
    height: 100%;
    background: var(--pallete-auth-background);
    pointer-events: none;
    user-select: none;
}

.backgroundimage .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-width: 500px;
    padding: 32px;

    background: var(--pallete-primary-color);
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));

    animation: 0.1s ease-out 0s 1 slideOnto;
}

@keyframes slideOnto {
    0% {
        opacity: 0;
        transform: translate(-50%, -70%) scale(1.05);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}