.paragraph {
    width: 100%;
    margin-bottom: 20px;
}

.paragraphlink {
    color: var(--font-color-paragraphurl);
    filter: var(--font-color-paragraphurl-filter);
}

.paragraphlink:hover {
    text-decoration: underline;
}

.image {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image>img {
    width: auto;
    max-height: 40vh;
    border-radius: 16px;
    user-select: none;
}

.imagedescription {
    margin-top: 10px;
    color: var(--font-color-secondary);
}