.profilemenu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profilemenu:hover .username p {
    color: var(--font-color-primary);
    transition: 0.2s color;
}

.profilemenu .container {
    cursor: pointer;
    border-radius: 8px;
}

.container {
    width: calc(100% - 20px - 0px);
    padding: 0 10px;
    height: calc(100% - 8px);
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    grid-gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    background: var(--background-preload);
    border-radius: 100%;
}

.username {
    width: 100%;
    overflow: hidden;
}

.username p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--font-color-secondary);
    font-weight: 500;
    transition: 0.2s color;
    user-select: none;
}

.dropdownbutton {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownbutton svg {
    stroke: var(--font-color-secondary);
}

.actionslist {
    width: calc(100% - 20px - 20px);
    min-height: 20px;
    position: absolute;
    top: calc(100% + 10px);
    left: calc(10px + 10px);
    background: var(--background-panel);
    border: var(--outline-panel);
    border-radius: 16px;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    transform: translateY(-5px) scale(0.9);
}

.actionlistul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.actionslist.open {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px) scale(1);
    transition: 0.2s;
}









.profilemenuloggedout {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerloggedout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedoutbutton {
    height: 32px;
    padding: 0 5px;
    margin: 0 5px;
    background: none;
    color: var(--font-color-secondary);
    font-weight: 500;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedoutbutton:hover {
    color: var(--font-color-primary);
}