.header{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: var(--pallete-secondary-color);

    box-shadow: 1px 2px 3px -1px var(--pallete-shadowcolor);
    -webkit-box-shadow: 1px 2px 3px -1px var(--pallete-shadowcolor);
    -moz-box-shadow: 1px 2px 3px -1px var(--pallete-shadowcolor);
}
.headeroffset{
    height: 50px;
}

.headercontainer{
    width: calc(100% - 40px);
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
}

.sidebar{
    width: 100%;
    height: 100%;
    background: var(--pallete-secondary-color);
}
.maincontent{
    width: 100%;
    height: 100%;
    background: var(--pallete-primary-color);
}
.rightbar{
    width: 100%;
    height: 100%;
    background: var(--pallete-primary-color);
}