.fieldroot {
    width: 100%;
    margin-bottom: 20px;
}

.fieldroot .errorspace {
    display: none;
    font-size: var(--font-size-undercontent);
    color: var(--font-color-error);
}

.fieldroot.fielderror .errorspace {
    display: block;
}

.field {
    width: 100%;
    height: 32px;
    background: var(--background-input-text);
    border: var(--outline-inputext);
    border-radius: 16px;
    position: relative;
}

.filename {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.inputfield {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: var(--font-size-inputtext);
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.inputfield::placeholder {
    color: var(--font-color-inputtext-placeholder);
}