.createeditorpanel {
    width: 100%;
    padding: 20px;
    background: var(--background-panel);
}

.title {
    width: 100%;
}

.titleinput {}

.nodegrid {
    width: 100%;
    margin-bottom: 5px;
}

.nodeitem {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    border: var(--outline-panel);
    border-color: transparent;
    margin-bottom: 5px;
    transition: 0.4s;
    opacity: 0;
    animation: nodeitemshow 0.3s ease-out forwards;
    position: relative;
}

.nodeitem:hover {
    border: var(--outline-panel);
    transition: 0.2s;
}

.nodeitem.selected {
    border: var(--outline-panel);
    transition: 0.2s;
}

.nodeContent {
    width: 100%;
}

.nodeContentParagraph {
    padding: 4px;
    border-radius: 4px;
    outline: 0 !important;
    position: relative;
}

.nodeContentParagraph .paragraphinput {
    border: none;
    background: none;
    border-bottom: var(--outline-panel);
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 4px;

    outline: 0 !important;
}

.nodeContentParagraph .paragraphinput.selected {
    border: var(--outline-panel);
}

.nodeitem.selected .nodeContentParagraph {
    background: var(--background-input-text);
}

.nodeContentParagraph .linkinput {
    border: none;
    background: none;
    border-bottom: var(--outline-panel);
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 4px;

    outline: 0 !important;
    text-decoration: underline;
    color: var(--font-color-url);
}

.nodeContentParagraph .linkinput.selected {
    border: var(--outline-panel);
}


.editorpanel {
    opacity: 0;
    pointer-events: none;
    height: 25px;
    min-width: 40px;
    background: var(--background-input-text);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0;
    position: absolute;
    left: 20px;
    top: calc(-25px + 1px);
    overflow: hidden;
}

.editorpanel.selected {
    opacity: 1;
    pointer-events: all;
}

.editorpanelbutton {
    height: 25px;
    padding: 0 20px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.editorpanelbutton svg * {
    stroke: var(--font-color-secondary);
}

.editorpanelbutton:hover {
    background: var(--background-panel-hover);
}

.editorpanelbutton:hover svg * {
    stroke: var(--font-color-primary);
}


.nodesidenav {
    opacity: 0;
    pointer-events: none;
    width: calc(30px + 2px);
    position: absolute;
    background: var(--background-panel);
    border-radius: 8px;
    border: var(--outline-panel);
    top: 0;
    right: calc(-30px - 20px - 10px);
    overflow: hidden;
    min-height: calc(30px + 30px + 30px + 0px);
    z-index: 1000;
}

.nodesidenav.selected {
    opacity: 1;
    pointer-events: all;
}

.nodesidenavbutton {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodesidenavbutton svg * {
    stroke: var(--font-color-secondary);
}

.nodesidenavbutton:hover {
    background: var(--background-panel-hover);
}

.nodesidenavbutton:hover svg * {
    stroke: var(--font-color-primary);
}

.addelementcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addelementcontainer .line {
    height: 40px;
    width: 2px;
    min-width: 1px;
    margin: 0 10px;
    background: var(--outline-panel-color);
}

.addelementcontainer .button {
    width: 100%;
    height: 60px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.addelementcontainer .button svg {
    margin-right: 10px;
}

.addelementcontainer .button p {
    color: var(--font-color-secondary);
    font-weight: 500;
}

.addelementcontainer .button:hover {
    background: var(--background-panel-hover);
}

.addelementcontainer .button:hover p {
    color: var(--font-color-primary)
}

.addelementcontainer .button:hover svg * {
    stroke: var(--font-color-primary) !important;
}



@keyframes nodeitemshow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}